.login-component{
    display: flex;
    flex-direction: row;
}
.login-section-right{
    background-color: var(--background-primary);
    height: 100vh;
    width: 50%;
}
.login-section-left{
    width: 50%;
}
.login-form{
    margin-top: 130px;
}
.theme-input{
    border-radius: 0px !important;
}
.login-section-right{
    display: flex;
    justify-content: center;
    align-items: center;
}