
<div class="login-component">
    <div class="login-section-left">

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="login-form">
                        <h4>Login</h4>
                        <br/>
                        <form>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input placeholder="Email address" type="email" class="form-control theme-input" id="email" aria-describedby="emailHelp">

                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input placeholder="password" type="password" class="form-control theme-input" id="password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <div class="form-group">
                                <small routerLink="/auth/forgot-password" class="has-foreground-text" style="cursor: pointer">Forgot password</small>
                            </div>
                            <button style="border: none !important;" type="submit" class="btn btn-block has-tertiary-background btn-primary">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
    </div>
    <div class="login-section-right">
         <div class="login-content p-4">
             <h3>Login to</h3>
             <blockquote style="border-left:  2px solid;padding: 5px">
                 <p>
                     To place an order.
                 </p>
                 <p>
                     To save items for later.
                 </p>
                 <p>
                     Customize products displayed based on your interests.
                 </p>
             </blockquote>

         </div>
    </div>
</div>