<app-navbar></app-navbar>
<div class="container">
    <div class="product-details-card">
            <div class="row">
                <div class="col-lg-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Sleeve Linen Blend Caro Pane Shirt</mat-card-title>
                            <mat-card-subtitle><b>Brand</b>&nbsp; <span class="has-primary-text">Adidas</span> </mat-card-subtitle>
                        </mat-card-header>
                        <img  mat-card-image src="../../../assets/images/sample/8b.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-lg-6">
                    <mat-card class="example-card">
                        <mat-card-header>

                            <mat-card-title> 1000 <sup>Ksh</sup> -  1500<sup>Ksh</sup></mat-card-title>

                        </mat-card-header>

                        <mat-card-content>
                         <div class="qty-box">
                             <div style="cursor: pointer" class="decrease-qty">
                                 <i class="material-icons mt-1">remove</i>
                             </div>
                             <div>
                                 <input style="width: 75px" value="1" type="number" class="form-control qty-input">
                             </div>
                             <div style="cursor: pointer" class="add-qty">
                                 <i class="material-icons mt-1">add</i>
                             </div>
                             <button class="ml-3" mat-raised-button color="accent">Add To Cart</button>
                         </div>
                            <br/>
                            <mat-tab-group>
                                <mat-tab label="Features">

                                    Available Sizes: Small Medium Large XL XXL

                                    BRAND NAME: Infinity
                                    MODEL: Infinity
                                    PRODUCT CONDITION: new
                                    ESTIMATED DELIVERY TIME:
                                    Order today and let us know when & where you want your product delivered. We can deliver within 24hrs anywhere within Nairobi.
                                    RETURNS: Accepted within 48hrs of order
                                    GUARANTEE: 100% money back guarantee
                                </mat-tab>
                                <mat-tab label="Description"> Description </mat-tab>

                            </mat-tab-group>



                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
    </div>
</div>