.qty-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.decrease-qty{
    border: 1px solid var(--foreground-primary-text);
    border-bottom-left-radius: 5px;
    background-color: var(--foreground-primary-text);
    border-top-left-radius: 5px;
    height: 38px;
}
.add-qty{
    border-bottom-right-radius: 5px;
    background-color: var(--foreground-primary-text);
    border-top-right-radius: 5px;
    height: 38px;
}
.qty-input{
    border-radius: 0px !important;
}
.mat-ink-bar{
    border-bottom-color: var(--background-primary) !important;
}