<!-- Just an image -->
<app-ad></app-ad>

<div class="top-bar">
<div class="container top-bar-nav">
    <div class="app-logo">
        <img routerLink="/" style="max-height: 50px" src="./../../assets/logo.png">
    </div>
    <div></div>
    <div class="top-bar-right">
        <div><i class="material-icons float-left">
            place
        </i> Store location&nbsp;&nbsp;|&nbsp;&nbsp;</div>
        <div><i class="material-icons float-left">
            local_shipping
        </i>Track your order&nbsp;&nbsp;|&nbsp;&nbsp;</div>
        <div><i class="material-icons float-left">
            help
        </i>Help&nbsp;&nbsp;</div>
    </div>
</div>
</div>
<div ngClass="{{sticky ? 'sticky' : ''}}" class="nav-primary">
    <div class="navs container">
    <div    class="show-cat" (click)="showLeftSideBar()" style="cursor: pointer">
        <i class="material-icons float-left">
            dehaze
        </i>&nbsp;Categories
        <div id="cat-div" ngClass="{{showSidebar? 'show' : 'hide'}}" class="sidebar">
            <ul style="border: none !important;" class="list-group">
                <li routerLink="/categories/accessories" class="list-group-item">Accessories</li>
                <li class="list-group-item">Cameras &amp; Photography</li>
                <li class="list-group-item">Gadgets</li>
                <li (mouseover)="showMegaMenu()" class="list-group-item">Home Entertainment</li>
                <li class="list-group-item">Laptops &amp; Computers</li>
                <li class="list-group-item">Printers &amp; Ink</li>
                <li class="list-group-item">Smart Phones &amp; Tablets</li>
                <li class="list-group-item">TV &amp; Audio</li>
            </ul>
            <div *ngIf="showMegamenu" class="mega-menu">
                All subcategories
            </div>
        </div>
    </div>
    <div >
        <form class="navbar-search" method="get" action="" autocomplete="off">
            <label class="sr-only screen-reader-text" for="search">Search for:</label>
            <div class="input-group">
                <div class="input-search-field">
                    <input type="text" id="search" class="form-control search-field product-search-field" dir="ltr" value="" name="s" placeholder="I am shopping for..." autocomplete="off"></div>
                <div class="input-group-addon search-categories">
                    <select name="product_cat" id="electro_header_search_categories_dropdown" class="postform resizeselect" style="width: 143px;">
                        <option value="0" selected="selected">All Categories</option>
                        <option class="level-0" value="accessories">Accessories</option>
                        <option class="level-0" value="cameras-photography">Cameras &amp; Photography</option>
                        <option class="level-0" value="computer-components">Computer Components</option>
                        <option class="level-0" value="gadgets">Gadgets</option>
                        <option class="level-0" value="home-entertainment">Home Entertainment</option>
                        <option class="level-0" value="laptops-computers">Laptops &amp; Computers</option>
                        <option class="level-0" value="printers-ink">Printers &amp; Ink</option>
                        <option class="level-0" value="smart-phones-tablets">Smart Phones &amp; Tablets</option>
                        <option class="level-0" value="tv-audio">TV &amp; Audio</option>
                        <option class="level-0" value="video-games-consoles">Video Games &amp; Consoles</option>
                    </select></div>
                <div class="input-group-btn">
                    <input type="hidden" id="search-param" name="post_type" value="product">
                    <button type="submit" class="btn has-tertiary-background btn-navbar-search btn-secondary">Search&nbsp;<i class="material-icons float-right">search</i></button>
                </div>
            </div>
        </form>
        </div>
        <!--<div class="input-group">-->
            <!--<select style="width: 670px !important;" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">-->
                <!--<option selected>I am looking for...Browse categories</option>-->
                <!--<option value="1">One</option>-->
                <!--<option value="2">Two</option>-->
                <!--<option value="3">Three</option>-->
            <!--</select>-->
            <!--<div class="input-group-append">-->
                <!--<button class="btn has-tertiary-background btn-outline-secondary" type="button">Search</button>-->
            <!--</div>-->
        <!--</div>-->


    <div>
        <div>
            <button routerLink="/auth/login" class="has-foreground" mat-button>Login/Signup</button>

        </div>

    </div>
    </div>
</div>

