.nav-primary{
    background-color: var(--background-primary) !important;
    width: 100%;
    position: static;
    z-index: 10000;

}
.navs{
    height: 55px;
    display: flex;
    background-color: var(--background-primary) !important;
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-adjust{
    padding-top: 10px;
}
.has-foreground{
    background-color: var(--background-secondary) !important;
    color: var( --foreground-primary) !important;;
}
.navbar-search {
    flex-basis: 0%;
    flex-grow: 1;
}
.navbar-search>.input-group {
    width: 100%;
    display: flex;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.navbar-search .input-search-field {
    display: flex;
}
.navbar-search>.input-group .input-search-field {
    flex-grow: 1;
    flex-basis: 0%;
    margin-right: -1px;
}
.navbar-search>.input-group .input-search-field .product-search-field.form-control, .navbar-search>.input-group .input-search-field table.cart .coupon .product-search-field.input-text, table.cart .coupon .navbar-search>.input-group .input-search-field .product-search-field.input-text {
    border-top-left-radius: 2.467em;
    border-bottom-left-radius: 2.467em;
}

.navbar-search>.input-group .input-search-field {
    flex-grow: 1;
    flex-basis: 0%;
    margin-right: -1px;
}
.navbar-search>.input-group .input-search-field .product-search-field.form-control, .navbar-search>.input-group .input-search-field table.cart .coupon .product-search-field.input-text, table.cart .coupon .navbar-search>.input-group .input-search-field .product-search-field.input-text {
    border-top-left-radius: 2.467em;
    border-bottom-left-radius: 2.467em;
}
.header-v5 .navbar-search .input-group .form-control, .header-v5 .navbar-search .input-group .input-group-addon {
    border-color: #fff;
}
.navbar-search .input-group .form-control:last-child, .navbar-search .input-group table.cart .coupon .input-text:last-child, table.cart .coupon .navbar-search .input-group .input-text:last-child {
    border-top-left-radius: 2.467em;
    border-bottom-left-radius: 2.467em;
}


.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-search .form-control {
    padding: .3em 2.134em;
}
.navbar-search .btn,  .navbar-search>.input-group .input-group-btn, .navbar-search>.input-group .search-categories {
    height: 41px;
}
 .navbar-search .input-text {
    background: #fff;
    line-height: 1.34em;
    padding: 1.01em 2.134em;
    height: 50px;
    border-radius: 2.467em;
}
.form-control, .navbar-search .form-control, table.cart .coupon .input-text {
    font-size: 1.071em;
    line-height: 2em;
    border-radius: 1.467em;
    padding: .701em 2.134em;
    border-width: 0;
}
.resizeselect{
    height: 40px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
}
.btn-navbar-search{
    border:none;
    border-top-right-radius: 2.467em;
    border-bottom-right-radius: 2.467em;

}
.top-bar{
    height: 55px;
    z-index: 10000;
    width: 100%;
    background-color: var(--background-primary-dark);
}
.top-bar-nav{
    height: 55px;
    display: flex;
    z-index: 10000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.top-bar-right{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}
.sidebar{
    width: 300px;
    position: fixed;
    z-index: 10000;
    top: 110px;
}
.hide{
    display: none;
}
.show{
    display: block !important;
}
#cat-div:hover{
    display: block !important;
}
.list-group-item:hover{
    background-color: var(--background-primary) !important;
}
.show-cat:after {
    content: "";
    position: absolute;
    top: 110px;
    right: 22px;
    width: 13px;
    height: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #fff;
    z-index: 10000;
    padding: 0;
    margin: 18px -7px 0 0;
    -webkit-transition: top .5s;
    transition: top .5s;
    opacity: 0;
}
.mega-menu{
    width: 450px;
    position: fixed;
    height: auto;
    top: 110px;
    left: 420px;
    background-color: white;

}

@media (max-width: 480px){

.navbar-search{
    display: none !important;
}

}

@media (min-width: 768px){



}

@media (min-width: 1024px){


}

@media (min-width: 1200px){



}