<app-navbar></app-navbar>

<div class="products-banner mb-4"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/tv.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/8b.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/1a.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/6a.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
<br/>
<br/>
        <div class="col-lg-3 mt-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/9a.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 mt-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/13a.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 mt-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/13a.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 mt-3">
            <mat-card class="example-card">
                <img style="max-height: 220px" mat-card-image src="../../../assets/images/sample/14a.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    Laptop Screener CX70 2QF-621XPL 17.3″ 4210
                    <br/>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="product-card-description">
                        <div class="product-price">
                            <h4>55,000&nbsp;<sup>KSH</sup></h4></div>
                        <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                        </button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>