.products-banner{
    height: 120px;
    background-color: var(--foreground-primary-text);
}
.has-primary-text{
    color: var(--background-primary-dark);
}
.product-card-description,.product-card-extras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}