<main (scroll)="onScroll($event)" #contentArea>
<router-outlet></router-outlet>
</main>
<br/>
<br/>
<br/>
<button class="fab-chat" mat-fab color="accent">
    <i class="material-icons">
        insert_comment
    </i>
</button>
<app-footer></app-footer>