/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Ubuntu:300&display=swap');
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.css';
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.css';

:root {
    /* Colors */
    --foreground-default: #08090a;
    --foreground-primary: #f4faff;
    --foreground-primary-text: #ced4da;
    --foreground-secondary: #f1a9a9;


    --background-default: #f4faff;
    --background-primary: #fcb800;
    --background-primary-dark: #dba500;
    --background-secondary: #333e48;
    --background-tertiary: #08090a;
    --background-quaternary: #231f20;


    --error-default: #ef3e36;
    --error-dark: #800600;
    --error-light: #ffcecc;

    /* Shadows */
    --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

body {
    background: var(--background-default);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.has-tertiary-background{
    background-color: var(--background-tertiary) !important;
    color: var(--foreground-primary) !important;
}
.has-foreground-text{
    color: #c1c6d3 !important;
}
input:focus, textarea:focus, select:focus{
    outline: none !important;
}
.theme-input{
    outline: none !important;
    box-shadow: none !important;
}
.top-separator{
    padding-top: 100px;
}
.sticky{
    position: fixed !important;
    width: 100%;
    top:0 !important;
}
@media (min-width: 640px){



}

@media (min-width: 768px){



}

@media (min-width: 1024px){


}

@media (min-width: 1200px){



}