.has-primary-text{
    color: var(--background-primary-dark);
}
.icon-large{
    font-size: 40px;
}
.col-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.free-shipping{
    width: 20%;
}
.featured_deals{
    margin-top: 22px;
}
.product-card{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    cursor: pointer;

}

.product-title{
    color: var(--background-secondary);
}
.product-category{
    font-size: 13px;
}
.product-card-description,.product-card-extras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.product-card-extras{
    background-color:#fafafa ;
    display: none;
}
.section-image{
    height: 400px;
    background-image: url("../../assets/images/banners/fmcg-desktop-big.png");
    background-size: cover;
    background-position: center;
}
.section-description,.featured_categories_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}