<app-navbar></app-navbar>

<section>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/images/bg/1.jpg"/>
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/bg/2.jpg"/>
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/bg/3.jpg"/>
        </ng-template>
    </owl-carousel-o>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-flex">
            <div class="free-shipping">
                <i class="material-icons icon-large float-left has-primary-text">
                    local_shipping
                </i>
            </div>

            <div class="content-right">
                <h5>Free Shipping</h5>
                <p>Same Day Delivery on All Nairobi Orders</p>
            </div>

        </div>
        <div class="col-lg-4 col-flex">
            <div class="free-shipping">
                <i class="material-icons icon-large float-left has-primary-text">
                    credit_card
                </i>
            </div>

            <div class="content-right">
                <h5>Secure Payment</h5>
                <p>Pay with MPesa Online OR Upon Delivery</p>
            </div>

        </div>
        <div class="col-lg-4 col-flex">
            <div class="free-shipping">
                <i class="material-icons icon-large float-left has-primary-text">
                    settings_backup_restore
                </i>
            </div>

            <div class="content-right">
                <h5>90 Days Return</h5>
                <p>If goods have problems</p>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <!--Ads banner-->
    <img style="max-width: 100%" src="../../assets/images/ads/home-v5-banner.png">
</div>


<!--deals of the day-->

<div class="featured_deals">
    <div class="header text-center">
        <h4>Deals of the day</h4>
    </div>
    <br/>
    <br/>
    <div class="container">
    <owl-carousel-o [options]="customOptions2">
        <ng-template carouselSlide>
            <div class="product-card">
                <div class="product-card-header">
                    <div class="product-category has-primary-text">Laptops</div>
                    <div class="product-title">Laptop Screener CX70 2QF-621XPL 17.3″ 4210</div>
                </div>
                <div class="product-card-image">
                    <img src="../../assets/images/sample/Laptop3-300x300.jpg">
                </div>
                <div class="product-card-description">
                    <div class="product-price">
                        <b>Ksh 4,500</b></div>
                    <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                        <i class="material-icons">
                            add_shopping_cart
                        </i>
                    </button></div>
                </div>
                <br/>
                <div class="product-card-extras">

                    <div title="Add to favortes" class="add-to-wishlist">
                        <i class="material-icons">
                            favorite_border
                        </i>
                    </div>
                    <div title="Reviews" class="rating">
                        <i class="material-icons float-left">
                            star_border
                        </i>4.5
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div routerLink="/product/Pf9w3wPZ" class="product-card">
                <div class="product-card-header">
                    <div class="product-category has-primary-text">Laptops</div>
                    <div class="product-title">Laptop Screener CX70 2QF-621XPL 17.3″ 4210</div>
                </div>
                <div class="product-card-image">
                    <img src="../../assets/images/sample/Laptop2-300x300.jpg">
                </div>
                <div class="product-card-description">
                    <div class="product-price">
                        <b>Ksh 4,500</b></div>
                    <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                        <i class="material-icons">
                            add_shopping_cart
                        </i>
                    </button></div>
                </div>
                <br/>
                <div class="product-card-extras">

                    <div title="Add to favortes" class="add-to-wishlist">
                        <i class="material-icons">
                            favorite_border
                        </i>
                    </div>
                    <div title="Reviews" class="rating">
                        <i class="material-icons float-left">
                            star_border
                        </i>4.5
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="product-card">
                <div class="product-card-header">
                    <div class="product-category has-primary-text">Laptops</div>
                    <div class="product-title">Laptop Screener CX70 2QF-621XPL 17.3″ 4210</div>
                </div>
                <div class="product-card-image">
                    <img src="../../assets/images/sample/DekstopPC-1-300x300.jpg">
                </div>
                <div class="product-card-description">
                    <div class="product-price">
                        <b>Ksh 4,500</b></div>
                    <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                        <i class="material-icons">
                            add_shopping_cart
                        </i>
                    </button></div>
                </div>
                <br/>
                <div class="product-card-extras">

                    <div title="Add to favortes" class="add-to-wishlist">
                        <i class="material-icons">
                            favorite_border
                        </i>
                    </div>
                    <div title="Reviews" class="rating">
                        <i class="material-icons float-left">
                            star_border
                        </i>4.5
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="product-card">
                <div class="product-card-header">
                    <div class="product-category has-primary-text">Printers</div>
                    <div class="product-title">Laptop Screener CX70 2QF-621XPL 17.3″ 4210</div>
                </div>
                <div class="product-card-image">
                    <img src="../../assets/images/sample/Printer-300x300.jpg">
                </div>
                <div class="product-card-description">
                    <div class="product-price">
                        <b>Ksh 4,500</b></div>
                    <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                        <i class="material-icons">
                            add_shopping_cart
                        </i>
                    </button></div>
                </div>
                <br/>
                <div class="product-card-extras">

                    <div title="Add to favortes" class="add-to-wishlist">
                        <i class="material-icons">
                            favorite_border
                        </i>
                    </div>
                    <div title="Reviews" class="rating">
                        <i class="material-icons float-left">
                            star_border
                        </i>4.5
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="product-card">
                <div class="product-card-header">
                    <div class="product-category has-primary-text">Cook ware</div>
                    <div class="product-title">Laptop Screener CX70 2QF-621XPL 17.3″ 4210</div>
                </div>
                <div class="product-card-image">
                    <img src="../../assets/images/sample/s18.jpg">
                </div>
                <div class="product-card-description">
                    <div class="product-price">
                        <b>Ksh 4,500</b></div>
                    <div class="product-add-to-cart"> <button style="outline: none !important;" mat-mini-fab>
                        <i class="material-icons">
                            add_shopping_cart
                        </i>
                    </button></div>
                </div>
                <br/>
                <div class="product-card-extras">

                    <div title="Add to favortes" class="add-to-wishlist">
                        <i class="material-icons">
                            favorite_border
                        </i>
                    </div>
                    <div title="Reviews" class="rating">
                        <i class="material-icons float-left">
                            star_border
                        </i>4.5
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
    </div>
</div>
<br/>
<!--info banner-->
<div style="border: none !important;" class="container card">
    <div class="card-body">
    <div class="row ">
        <div class="col-lg-6">
            <div class="section-description">
                <div></div>
                <div class="section-content text-center">
                    <br/>
                    <br/>
                    <h4>
                        Azamin makes it easy to buy
                        from products from  all over Kenya.
                    </h4>
                       <p>
                           We are much more than just a market
                       </p>
                    <br/>
                    <button class="has-tertiary-background" mat-raised-button color="primary">Explore Products</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 section-image">

        </div>
    </div>
    </div>
</div>
<br/>
<br/>
<div class="featured_categories">
    <div style="border: none !important;" class="card container">
        <div class="card-body">
    <div class="header text-center">
        <h4>Featured <span class="has-primary-text">Categories</span></h4>
    </div>
            <br/>
    <div class="featured_categories_content ">
        <div routerLink="categories/electronics" style="cursor: pointer">
            <img style="max-height: 70px" src="../../assets/images/categories/tv_acc.webp">
            Electronics</div>
        <div routerLink="categories/phones_accessories" style="cursor: pointer">
            <img style="max-height: 70px" src="../../assets/images/categories/mobile.png">
            Phones & Accessories</div>
        <div routerLink="categories/computing" style="cursor: pointer">
            <img style="max-height: 70px" src="../../assets/images/categories/cat-3-300x300.png">
            Computing</div>
        <div routerLink="categories/furniture" style="cursor: pointer">
            <img style="max-height: 70px" src="../../assets/images/categories/furniture.jpg">
            Furniture</div>
        <div routerLink="categories/home_living" style="cursor: pointer">
            <img style="max-height: 70px" src="../../assets/images/categories/home&livng.webp">
            Home & Living</div>
    </div>
        </div>
    </div>
</div>